#logout{
   padding-right: 3%;
}
h2{
   padding-left: 30px;
   font-weight: 400!important;
   font-size: 1.6rem!important;
   color:#f1f1f1;
}
#home{
   color: white;
}
.sidebar {
   display: flex;
   height: 100vh;
   float: left;
   overflow: 'scroll initial';
}
.header-bg  {
   background-color:#293e40;
}