.btn-toggle {
	display: inline-flex;
	align-items: left;
	padding: 0.25rem 0.5rem!important;
	font-weight: 600!important;
	color: rgba(0, 0, 0, 0.85);
	border-radius: 0px!important;
    border-bottom: 1px solid #c6c6c6!important;
	border-right:0px!important;
	border-top:0px!important;
	border-left:0px!important;
    width: 100%;
	margin-bottom: 12px;
    text-align: left!important;
}
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle:target,
.btn-toggle:active,
.btn-toggle:visited {
	padding: 0.25rem 0.5rem!important;
	border-radius: 0px!important;
	font-weight: 600!important;
	border-bottom: 1px solid #c6c6c6!important;
	border-right:0px!important;
	border-top:0px!important;
	border-left:0px!important;
	color: #2c828b!important;
}

/* .btn-toggle::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	transition: transform 0.35s ease;
	transform-origin: 0.5em 50%;
} */


.btn-toggle-nav a {
	display: inline-flex;
	padding: 0.1875rem 0.5rem;
	margin-top: 0.125rem;
	margin-left: 1.25rem;
	text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus,
.btn-toggle-nav a:focus-visible,
.btn-toggle-nav a:focus-within,
.btn-toggle-nav a:target,
.btn-toggle-nav a:active,
.btn-toggle-nav a:visited {
	border:0px!important;
	color: #2c828b!important;
}
.btn-toggle-nav a::before {
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
	margin-top: 7px;
}
main {
	
}

.link{
	color: black;
}
.sidenav-bg {
	height: auto;
	background: #dfdfdf;
	border-right: 1px solid #ccc;
}
.nav-icon {
	font-size: 12px;
    margin-right: 12px;
}