#sidebar{
      border-top: groove;
      border-right: groove;
      padding: 0%;
}
#image{
      padding: 0%;
}

#container{
      margin: 0%;

}



#body{
      padding-left: 0%;
      padding-right: 0%;
      border-top: groove;
}